.vocab-category {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  border: 1px solid #2d3a4a;
  width: auto;
  height: auto;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.vocab-category-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

.vocab-category:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  cursor: pointer;
}
